.mobile .player-info{
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 32px);
    height: 60px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
    gap: 8px;
}

.mobile .player-info .name{
    width: 100%;
}

.mobile .player-info span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mobile .player-info .icon, .mobile .placar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    padding: 4px;
}

.mobile .player-info .icon .symbol1 .main{
    border-width: 9px;
}

.mobile .placar{
    flex-direction: column;
    padding: 0 10px 0 10px;
}

.mobile .placar span{
    max-width: 70px;
}

.mobile .timer{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}

.mobile .timer svg{
    height: 100%;
}

.mobile .top .timer{
    bottom: -40px;
}

.mobile .bottom .timer{
    top: -40px;
    right: 0;
}

.mobile .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 16px 50px 16px;
}

.mobile .box-board{
    width: 100%;
    aspect-ratio: 1/1;
}

.mobile .box-board .symbol1 .main{
    border-width: 30px;
}

@media (max-width: 630px){
    .mobile .box-board .symbol1 .main{
        border-width: 20px;
    }
}

@media (max-width: 350px){
    .mobile .box-board .symbol1 .main{
        border-width: 12px;
    }
}