main{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.dark{
    color: #FFF;
}

.dark .player-info{
    background-color: #8a2be2;
    border: 2px solid #38125c;
}

.dark .player-info .icon, .dark .player-info .placar{
    background-color: #3c2255;
}