.form-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    width: 80%;
    max-width: 700px;
    border-radius: 16px;
    transition: all 1s ease;
    opacity: 0;
    pointer-events: none;
    padding: 16px;
}

.form-modal.dark{
    background-color: #8a2be2;
    color: #FFF;
    border: 2px solid #FFF;
}

.form-modal.active{
    opacity: 1;
    pointer-events: auto;
}

.form-modal .head{
    padding-bottom: 20px;
}

.form-modal .head h1{
    font-family: "Special Gothic Condensed One", sans-serif;
    font-size: 40px;
}

.form-modal .input-box{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.form-modal .input-box select, .form-modal .input-box input{
    border-radius: 10px;
    font-size: 16px;
    padding: 6px 12px 6px 12px;
}

.form-modal .input-box select{
    width: 100%;
}

.form-modal.dark .input-box select, .form-modal.dark .input-box input{
    /* background-color: #e3c6ff; */
    color: #FFF;
    border: 2px solid #FFF;
}

.form-modal.dark .input-box input::placeholder{
    color: #d5a5fa;
}

.form-modal .content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-modal button.btn-close{
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    padding: 2px;
}

.form-modal.dark button.btn-close{
    background-color: #3d3d3d;
    border: 2px solid #FFF;
}

.form-modal button.btn-close svg{
    height: 20px;
}