.generic-pop-up{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    width: 20em;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    z-index: 100000;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, .1), 0 0 .5em rgba(0, 0, 0, .15);
    transition: all 1s ease;
}

.generic-pop-up.active{
    opacity: 1;
    pointer-events: auto;
}

.generic-pop-up.expanded {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(1.5);
}

.generic-pop-up .pop-up-head{
    width: 100%;
    color: (220, 180, 0);
    padding: 0.5em 0px 0.5em 0px;
}

.generic-pop-up .pop-up-content{
    background-color: rgb(87, 87, 87);
    width: 99%;
    border-radius: 5px;
    padding: 0.5em;
    transition: all 1s ease;
}

.generic-pop-up .pop-up-content .description{
    white-space: nowrap;
    text-overflow: ellipsis;
}

.generic-pop-up .pop-up-content.expanded{
    background-color: rgb(87, 87, 87);
    width: 99%;
    border-radius: 5px;
    word-break: break-all;
    padding: 0.5em;
    max-height: none;
}

.generic-pop-up .pop-up-content.expand .description{
    white-space: normal;
    text-overflow: none;
}

.generic-pop-up .title{
    display: block;
    font-size: 1.6em;
    color: rgb(0, 215, 115);
    word-break: break-all;
    line-height: 1;
}

.generic-pop-up .title .material-symbols-outlined{
    font-size: 1.3em;
    float: left;
    margin-right: .2em;
}

.generic-pop-up .actions{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.3em;
    overflow: visible;
    user-select: none;
}

.generic-pop-up .actions .copy,
.generic-pop-up .actions .close{
    width: 2em;
    height: 2em;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.generic-pop-up .actions .material-symbols-outlined{
    font-size: 1em;
}

.generic-pop-up .actions .copy:hover,
.generic-pop-up .actions .copy:active{
    background-color: rgb(0, 215, 115);
}

.generic-pop-up .actions .close:hover,
.generic-pop-up .actions .close:active{
    background-color: rgb(240, 65, 65);
}

.generic-pop-up .actions .copy:hover,
.generic-pop-up .actions .close:hover,
.generic-pop-up .actions .copy:active,
.generic-pop-up .actions .close:active{
    transform: scale(1.2);
}
/*usar como vermelho dps
rgb(240, 65, 65);
*/