.generic-pop-up{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 20em;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    z-index: 100000;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 20px 0.3em #0000001a, 0 0 5px .1em #00000026;
    transition: all 1s ease;
}

.generic-pop-up.pop{
    animation: pop 0.3s linear forwards;
    pointer-events: none;
}

@keyframes pop{
    50%  {
        transform: scale(1.3);
    }
    100%{
        opacity: 0;
    }
}  

.generic-pop-up.active{
    opacity: 1;
    pointer-events: auto;
}

.generic-pop-up.expanded {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(1.5);
}

.generic-pop-up .pop-up-head{
    width: 100%;
    color: (220, 180, 0);
    padding: 0.5em 0px 0.5em 0px;
}

.generic-pop-up .pop-up-content{
    background-color: rgb(87, 87, 87);
    width: 99%;
    border-radius: 5px;
    padding: 0.5em;
}

.generic-pop-up .pop-up-content .description{
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: justify;
    transition: all 1s ease;
}

.generic-pop-up .pop-up-content.expanded{
    background-color: rgb(87, 87, 87);
    width: 99%;
    border-radius: 5px;
    word-break: break-word;
    padding: 0.5em;
    max-height: none;
}

.generic-pop-up .pop-up-content.expanded .description{
    white-space: wrap;
}

.generic-pop-up .title{
    display: block;
    font-size: calc(var(--font-size) + .4em);
    color: var(--light-green);
    word-break: break-word;
    padding-right: 5px;
}

.generic-pop-up .title .material-symbols-outlined{
    font-size: calc(var(--font-size) + .4em);
    float: left;
    margin-right: .2em;
}

.generic-pop-up .title label{
    font-size: calc(var(--font-size) + .4em);
    font-weight: bold;
}

.generic-pop-up .actions{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.3em;
    overflow: visible;
    user-select: none;
}

.generic-pop-up .actions .copy,
.generic-pop-up .actions .close{
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.generic-pop-up .actions .material-symbols-outlined{
    font-size: 1em;
}

.generic-pop-up .actions .copy:hover,
.generic-pop-up .actions .copy:active{
    background-color: var(--light-green);
}

.generic-pop-up .actions .close:hover,
.generic-pop-up .actions .close:active{
    background-color: var(--light-red)
}

.generic-pop-up .actions .copy:hover,
.generic-pop-up .actions .close:hover,
.generic-pop-up .actions .copy:active,
.generic-pop-up .actions .close:active{
    transform: scale(1.2);
}