.generic-pop-up .pop-up-footer{
    display: flex;
    padding-left: 50%;
    gap: 0.2em;
}

.generic-pop-up .box-option{
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: all 1s ease;
    margin-top: 0.5em;
    padding: 0.5em;
    user-select: none;
    cursor: pointer;
}

.generic-pop-up .box-option:first-child{
    background-color: var(--dark-red);
}

.generic-pop-up .box-option:nth-child(2){
    background-color: var(--dark-green);
}

.generic-pop-up .box-option:first-child:hover{
    filter: brightness(1.5);
}

.generic-pop-up .box-option:nth-child(2):hover{
    filter: brightness(1.5);
}

.generic-pop-up .pop-up-head .material-symbols-outlined{
    font-size: 1em;
    /**mudar aqui**/
}