.modal.yes-no .title{
    color: var(--light-blue);
}

.modal.yes-no .footer{
    display: flex;
    padding-left: 50%;
    gap: 0.2em;
}

.modal.yes-no .box-option{
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: all 1s ease;
    margin-top: 0.5em;
    padding: 0.5em;
    user-select: none;
    cursor: pointer;
}

.modal.yes-no .box-option:first-child{
    background-color: var(--dark-red);
}

.modal.yes-no .box-option:nth-child(2){
    background-color: var(--dark-green);
}

.modal.yes-no .box-option:first-child:hover{
    filter: brightness(1.5);
}

.modal.yes-no .box-option:nth-child(2):hover{
    filter: brightness(1.5);
}