.modal.yes-no .title{
    color: var(--light-blue);
}

.modal.yes-no .footer{
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
}

.modal.yes-no .box-option{
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: all 1s ease;
    margin-top: 0.5em;
    padding: 6px;
    user-select: none;
    cursor: pointer;
}

.modal.yes-no .box-option .material-symbols-outlined{
    font-size: 20px;
}

.modal.yes-no .box-option:first-child{
    background-color: var(--dark-red);
}

.modal.yes-no .box-option:nth-child(2){
    background-color: var(--dark-green);
}

.modal.yes-no .box-option:first-child:hover{
    filter: brightness(1.5);
}

.modal.yes-no .box-option:nth-child(2):hover{
    filter: brightness(1.5);
}