.symbol0, .symbol1{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.symbol0 .main-diagonal, .secondary-diagonal{
    height: 80%;
    width: 20%;
    background-color: var(--light-red);
    position: absolute;
    border-radius: 20px;
}

.symbol0 .main-diagonal{
    rotate: -45deg;
}

.symbol0 .secondary-diagonal{
    rotate: 45deg;
}

.symbol1 .main{
    height: 80%;
    width: 80%;
    border-radius: 100%;
    border: 1.5em solid var(--light-green);
    background-color: transparent;
}