#blur{
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s ease;
}

#blur.active{
    display: block;
    pointer-events: auto;
    backdrop-filter: blur(5px);
    opacity: 1;
}