
.check-slider{
    display: flex;
    align-items: center;
    width: 60px;
    height: 28px;
    cursor: pointer;
    position: relative;
    border-radius: 16px;
    border-width: 2px;
    border-color: transparent;
}

.check-slider input{
    opacity: 0;
    width: 0;
    height: 0;
}

.check-slider .slider{
    position: absolute;
    left: 4px;
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

.check-slider input:checked ~ .slider{
    left: calc(100% - 20px - 4px);
}

.check-slider .text{
    right: 8%;
    position: absolute;
    font-size: 15px;
}

.check-slider input:checked ~ .text{
    left: 8%;
}

.dark .check-slider .text{
    color: rgba(255, 255, 255, 0.877);
    color: #d5a5fa;
}

.dark .check-slider{
    border-color: #FFF;
}

.dark .check-slider:focus{
    outline: none;
    box-shadow: 0 0 12px 4px rgba(173, 138, 196, 0.7);
}

.dark .check-slider .slider{
    background-color: #FFF;
}

.dark .check-slider:has(input:checked){
    background: #43384d;
    border: none;
}
